/* CSS Document */
*{
  font-family: sans-serif;
  padding:0;
  margin:0;
}

body{
  background-color: white;
  height: 200vh;
  font-family: 'Montserrat';
}

header {
    display: grid;
    justify-items: center;
    left:0;
    right:0;
    position: fixed;
    z-index: 1;
}

nav {
    background-color: white;
    color: #EA4E55;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

nav img {
    padding-left:2em;
    color: #EA4E55;
    width:7em;
    height:7em;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 2em 2em;
}

nav ul li {
    margin-left: 1em;

}

/* animation */
.show {
    top: 0;
    transition: top .4s ease-in;
}

.hide {
    top: -8em;
    transition: top .5s ease-in;
}




/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}


/* Generic styles ----------------------------------------------*/
.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url('https://cdn.glitch.com/a5121e34-96b3-4a70-8227-040c51e64fae%2Fcat.jpg?1509635989509') center #333 no-repeat;
  background-size: cover;
  position: relative;
}

.cards {
  max-width: 960px;
  margin: 0 auto 30px;
}

article {
  position: relative;
}



.article-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

 h1 {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    color: #EA4E55;

}

h1{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-right: 1em;
}

article > p{
    position: absolute;
    bottom: 0;
    margin-bottom: 70px;
    margin-left: 10px;
    color: #FFFFFF;
    background-color: #EA4E55;
}

.subTitleArticle {
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
  margin-left: 10px;
  color: #FFFFFF;
  background-color: #EA4E55;
}
